<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="irNuevoCliente()">
        <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Clientes</ion-label>
    <ion-input (input)="buscar($event)" type="text"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-4 *ngFor="let e of clientes">
        <ion-card (click)="irCliente(e.$key)">
          <ion-card-header>
            {{e.nombre}}
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="call"></ion-icon>{{e.telefono}}<br>
            <ion-icon name="pin"></ion-icon>{{e.direccion}}<br>
            <ion-icon name="bicycle"></ion-icon>{{e.express}}<br>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-4 *ngIf="cargando==false && clientes.length==0">
        <ion-card>
          <ion-card-header>
            Sin resultados
          </ion-card-header>
          <ion-card-content>
            <button ion-item (click)="irNuevoClienteNumero()">
              <ion-icon name="add" item-right></ion-icon>
              Nuevo Cliente
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>